<!DOCTYPE html>
html(lang="eru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style.scss")
    title Чат. Тестовое задание
  body
    .wrapper
      header.header_wrap
      content.content__wrap
        aside.left-aside
        .content-inner
      footer.footer__wrap
        .footer__wrap-message
          textarea.footer__textarea(name="message" plaseholder="Введите сообщение")
          i.footer__button-send  